.row{
    background-color: rgb(98, 187, 223);
    padding-top: 12px;
    padding-bottom: 12px;
}
footer{
    color:antiquewhite;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}